.not-found {
    text-align: center;
    margin-top: 20vh;
    animation: shake 3s;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
  }
  


@media (max-width: 768px) {
    .not-found {
      font-size: 18px;
    }
  }
  